<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table>
  <thead>
    <tr>
      <th><%= sortable "year", "Year" %></th>
      <th><%= sortable "surname", "Surname" %></th>
      <th><%= sortable "given_name", "Given Name" %></th>
      <th><%= sortable "avg", "Average" %></th>
      <th><%= sortable "hr", "Home Runs" %></th>
      <th><%= sortable "rbi", "RBI" %></th>
      <th><%= sortable "runs", "RUNS" %></th>
      <th><%= sortable "sb", "Steals" %></th>
      <th><%= sortable "ops", "OPS" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.year %></td>
        <td><%= player.surname %></td>
        <td><%= player.given_name %></td>
        <td><%= player.avg %></td>
        <td><%= player.hr %></td>
        <td><%= player.rbi %></td>
        <td><%= player.runs %></td>
        <td><%= player.sb %></td>
        <td><%= player.ops %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @players %>  