<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<%= form_tag players_path, :method => 'get', :id => "players_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Year", :year => nil %>
  </p>
<div id = "players"><%= render 'players' %></div>
<% end %>
<br>

<!--
<%= link_to 'New Player', new_player_path %>
-->
